Options FollowSymlinks
RewriteEngine On

RewriteRule ^(.*),([0-9]+)\.html$ /index.php?cmd=$1&id=$2 [QSA]
RewriteRule ^(.*),(.*)\.html$ /index.php?cmd=$1&action=$2 [QSA]
RewriteRule ^(.*)\.html$ /index.php?cmd=$1 [QSA]

ErrorDocument 404 /index.php?cmd=404